@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/sb-admin")

<section class="step1">
    <div class="panel panel-green" data-bind="visible: isInputPanelCollapsed, click: showInputSection">
        <div class="panel-heading">
            Click to show input section
        </div>
    </div>
    <form class="form-horizontal" id="validationForm" enctype="multipart/form-data" method="post" name="validationForm" data-bind="visible: !isInputPanelCollapsed()">
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label col-sm-2" for="codesource">Codebase Source:</label>
                    <select class="form-control" id="codesource" data-bind="value: codeSourceType">
                        <option value="folder">Folder Upload</option>
                        <option value="github">Github</option>
                        <option value="tfs">Team Foundation Server</option>
                    </select>
                </div>
                <div class="col-md-6"></div>
                <!-- ko if: codeSourceType() == "folder" -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="codesource">Upload zipped folder of your project:</label>
                    <input type="file" id="file" value="Upload Zip" accept=".zip" data-bind="event: {change: fileUpload}" name="file" />
                </div>
                <!-- /ko -->
                <!-- ko ifnot: codeSourceType() == "folder" -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="codesource">Codebase Source:</label>
                    <input class="form-control" type="text" placeholder="Enter the link to your project" data-bind="value: codeSourceLink" />
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul class="factor_list">
                        <li><label><input type="checkbox" checked value="Logs" placeholder="Externalised Logging" />Externalised Logging</label></li>
                        <li><label><input type="checkbox" checked value="Config" />Externalised Config</label></li>
                        <li><label><input type="checkbox" checked value="Backing" />Backing Services</label></li>
                        <li><label><input type="checkbox" value="Codebase" disabled />Single Codebase</label></li>
                        <li><label><input type="checkbox" value="Dependencies" disabled />Isolated Dependencies</label></li>
                        <li><label><input type="checkbox" value="Deployment" disabled />Deployment Methodology</label></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="factor_list">

                        <li><label><input type="checkbox" value="Processes" disabled />Stateless Processes</label></li>
                        <li><label><input type="checkbox" value="Port_binding" disabled />Port Binding</label></li>
                        <li><label><input type="checkbox" value="Concurrency" disabled />Concurrency</label></li>
                        <li><label><input type="checkbox" value="Disposability" disabled />Robust and Resilient System</label></li>
                        <li><label><input type="checkbox" value="Envvironment" disabled />Similar Environments</label></li>
                        <li><label><input type="checkbox" value="Admin_processes" disabled />Admin processes packaged with application</label></li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="button" class="btn btn-primary validate-btn" value="Validate" id="btnSubmit" data-bind="click: Validate" />

        <div class="form-group">
            <div class="col-md-12">
                <table id="myTable" style="width:100%"></table>
            </div>
        </div>

    </form>
</section>
<section class="compliance_report" data-bind="visible: isValidationComplete">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-10">
            <div id="compliance_chart"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-1"></div>
    </div>
</section>
<section class="detailed_report" data-bind="visible: isValidationComplete">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/sb-admin")
@Scripts.Render("~/bundles/index")