
@{
    ViewBag.Title = "Test";
}
@*<div data-bind="if: toBeShown">
    <div data-bind="component: 'my-component'"></div>

</div>*@
<button id="load_button">Load</button>

<div id="codeeditor"></div>
@Scripts.Render("~/bundles/test")